@import "../../App.scss";
.login_form {
  padding-top: 30px;
  padding-bottom: 30px;
  input{
    border: 1px solid black;
    padding: 10px;
    width: 50%;
  }
  input:focus {
    border: 4px solid rgb(163, 233, 248);
    background: $clr-white;
  }
.btn {
    border-radius: 30px solid black;
    padding: 10px;
    &:hover {
      background-color: rgb(253, 127, 127);
      color: $clr-white;
    }
  }
}
.outer-div {
  .error {
    text-align: center;
    color: $clr-danger;
    font-weight: 600;
    position: relative;
  }
}
form {
  margin-top: 200px;
  margin-bottom: 200px;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color:$clr-danger;
  background-image:linear-gradient(rgb(224, 122, 247), rgb(143, 212, 247));
  box-sizing: border-box;
}
